// @import "enhanced_fonts"; // for when you need special font features 
@import "fonts";
@import "mq";
@import "palette";
@import "dcr_enhancer"; // default left column enhancer, works with inline, showcase and immersive weighting
//@import "full_immersive_enhancer"; // full-width enhancer, to be used with immersive weighting. Removes left colum, sets 100vw atom width at any breakpoint
// @import "darkmodedefault"; // basic media queries for adding dark mode and several default colours

/*----- Vertical scrollbar width used for sizing full viewport width elements -----*/
root {
    --scrollbar-width: 0;
    --half-scrollbar-width: 0;
}

.interactive-atom {
    margin: 0;
    padding: 0;
}

.Central-and-Southern-Asia{ fill:#8f2270; fill-opacity: .7; stroke:#8f2270; stroke-width: 2px;}
.Europe-and-Northern-America{ fill:#cbae87; fill-opacity: .7; stroke:#cbae87; stroke-width: 2px;}
.Northern-Africa-and-Western-Asia{ fill:#00b2ff; fill-opacity: .7; stroke:#00b2ff; stroke-width: 2px;}
.Oceania{fill:#1d716b; fill-opacity: .7; stroke:#1d716b; stroke-width: 2px;}
.Sub-Saharan-Africa{ fill:#4fc480; fill-opacity: .7; stroke:#4fc480; stroke-width: 2px;}
.Latin-America-and-the-Caribbean{ fill:#a1a1a1; fill-opacity: .7; stroke:#a1a1a1; stroke-width: 2px;}
.Australia-and-New-Zealand{ fill:#0077b6; fill-opacity: .7; stroke:#0077b6; stroke-width: 2px;}
.Eastern-and-South-Eastern-Asia{fill:#ed6300; fill-opacity: .7; stroke:#ed6300; stroke-width: 2px;}

.gv-button{
    font-size: 14px;
    line-height: 20px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    cursor: pointer;
    display: inline-block;
    line-height: 120%;
    color: #121212;
    border-radius: 100px;
    border: 1px solid #121212;
    height: 36px;
    line-height: 22px;
    -webkit-font-feature-settings: 'pnum' on,'lnum' on;
    font-feature-settings: 'pnum' on,'lnum' on;
    background: #fff;
    position: relative;
    //margin-bottom: 8px;
    margin-top: 10px;
    width: 160px;
    margin-right: 2px;

    &.selected{
        background: #052962;
        color: #fff;
        -moz-user-select: none;
        user-select: none;
        box-shadow: none;
        border:none;
        outline: none;
    }
}

// uncomment to test
// .gv-wrapper {
//     height: 400px;
//     background: #121212;
//     color: white;
//     border-top: 1px solid #dcdcdc;
//     border-bottom: 1px solid #dcdcdc;
// }


/*----- App fixes -----*/
.ios, .android {
    .element--immersive {
        @include mq($until: tablet) {
            width: 100vw !important;
            position: relative;
            left: 50% !important;
            right: 50% !important;
            margin-left: -50vw !important;
            margin-right: -50vw !important;
        }
        @include mq(tablet) {
            transform: translateX(-20px);
            width: calc(100% + 60px);
        }
    }
    
    //remove dark mode padding in apps
    figure.element.element-atom, figure.interactive.interactive-atom.interactive--loading {
        padding: 0 !important;
    }
}